body{
    font-family: "Monteserrat", sans-serif;
    background-color: #F5F7FA;
}


/* MAIN STYLES */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
} 

.main_content {
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* ABOUT STYLES */
.about {
    margin-bottom: 40px;
}

.about_position{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* PROJECT STYLES */
.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
    
}

.projects_list {
    padding: 0;
    margin-left: 15px;
}

.project_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

.project_b {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* WORK STYLES */
.work_position,
.mark {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.mark {
    color: #FB6D3A;
}

address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* EDUCATION STYLES */
.education {
    margin-top: 45px;
}

.education_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0px;
}

.education_specialization {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin: 0px;
        margin-bottom: 10px;
}

/* SIDEBAR STYLES */
.sidebar {
    background-color: #1E2939;
    padding-top: 48px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: #ffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts,
.tech_skills,
.soft_skills {
    margin-left: 40px;
    margin-bottom: 120px;
}

.tech_skills {
    margin-bottom: 45px;
}
.hobbies {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.contact_type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #646C77;
        opacity: 0.5;
}

.skill_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;   
}

.skills_item {
    color: #FB6D3A;
}

.skills_text {
    color: #ffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}